*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS";
}

section {
   display: grid;
   grid-template-columns: repeat(3, 25vmin);
   grid-template-rows: repeat(3, 25vmin);
   grid-gap: 1vmin;
}

section div {
   border: 1px solid black;
   background-color: pink;
}

section div:hover {
  background-color: blue;
}

button {
    font-family: 'trebuchet ms';
    color: #02070D !important;
    font-size: 14px;
    text-shadow: 1px 1px 2px #ADADAD;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: pink;
  }
  
  button:hover {
    color: #14396A !important;
    background: hotpink;
  }