*, *::before, *::after {
    box-sizing: border-box;
}

table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid black;
  width: 25vmin;
  height: 25vmin;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
}

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

.button, .playerTurn {
   text-align: center;
}
  
#reset {
    padding: 1vmin;
    width: 20vmin;
    font-size: 0.5em;
    border-radius: 10px;
    cursor: pointer;
}
  
#reset:hover{
    background:black;
    border-color: white;
    color: white;
}

body {
    font-family:'Trebuchet MS';
    height: 100vh;
    margin: 0;
    justify-content: center;
}
  
h1, h2 {
    text-align: center;
}