*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
   display: grid;
   grid-template-columns: repeat(3, 25vmin);
   grid-template-rows: repeat(3, 25vmin);
   grid-gap: 1vmin;
}

section div {
   border: 1px solid black;
   background-color: pink;
}

section div:hover {
  background-color: blue;
}